<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ckz.baisi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".appliction.MyAppliction"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.ckz.baisi.unitls.MyGlideMoudle"
            android:value="GlideModule" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GongxianActivity" />
        <activity android:name=".activity.UserDetilsActivity" />
        <activity android:name=".activity.CommentActivity" />
        <activity android:name=".activity.ImageCommentActivity" />
        <activity android:name=".activity.GifCommentActivity" />
        <activity android:name=".activity.VideoCommentActivity" />
        <activity android:name=".activity.HtmlActivity" />
        <activity android:name=".activity.PlayVideoActivity" />
        <activity android:name=".activity.ShowCommentImage"></activity>
    </application>

</manifest>